.createPost {
    overflow-x: hidden;

    .row {
        &:not(:first-child) {
            margin-top: 20px;
        }

        .subtitle {
            margin-top: 10px;
        }

        .tagsContainer {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            div {
                display: flex;
                height: 32px;
                align-items: center;
                width: max-content;
            }

            .tag {
                padding: 16px 8px;
                margin: 0 4px;
                border-radius: var(--border-radius);
                background-color: var(--background);
                margin-bottom: 24px;

                .removeIcon {
                    cursor: pointer;
                    margin-left: 8px;
                }
            }

            .tagRemove {
                cursor: pointer;
                // background-color: var(--background-secundary);
                padding: 16px 8px;
                border-radius: var(--border-radius);
            }
        }

        .inputGroup {
            // width: 100%;
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                height: 40px;
                background-color: #dcdcdc;
                border-style: none;
                border-radius: var(--border-radius);
                padding: 5px;
            }

            .fileUpload {
                background: none;
            }

            label {
                margin-bottom: 4px;
            }

            textarea {
                height: 150px;
                background-color: #dcdcdc;
                border-radius: var(--border-radius);
                padding: 5px;
                border-style: none;
            }

            .postTitleCounter {
                display: flex;
                justify-content: space-between;
            }

            h5 {
                font-weight: 200;
            }
        }

        .createContainer {
            display: flex;
            justify-content: center;
        }
    }
}
