.tagComponent {
    border: 2px solid #0070C9;
    border-radius: 17px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 5px;


    .tagContent {
        padding: 1px 10px;
        color: #0672CB;
    }

}