.buttonAplly {
    border: 2px solid #0070C9;
    border-radius: 10px;
    width: auto;
    height: auto;
    align-items: center;
    margin: 5px;
    padding: 8px 40px;
    color: #0672CB;
    display: flex;
}